* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
    
    
}

.log_nav{
    border-top: 5px solid rgb(255, 235, 122);
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.log_nav h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log_container{
    margin: 10px;
    display: flex;
    justify-content: center;
    /* background-image: url("./images/truckLogin.png"); */
    background-size: 1000px;
}

.log_box{
    border-top: 60px solid black;
    border-bottom: 5px solid black;
    margin-top: 100px;
    background-color:rgb(255, 235, 122);
    width: 400px;
    height: 350px;
    border-radius: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textfield{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.603);
}